@using WAF.Engine.Content.MySite
@inject WAF.API.Web.WAFNativeContext ctx
@model Course;  



<div>
	<h1>@Model.Name</h1>
	<div>  <img src="@Model.CoursePicture.GetUrl(260)" /></div>
	<div>
		<ul>
			@foreach (var venue in Model.Venues )
			{
				<li>
					@venue.Name
				</li>

				<li>
					@Html.Raw(@venue.VenueAdress)
				</li>
			}
			
			@foreach (var contactUs in Model.ContactUs)
			{
				<h2><a href="@ctx.GetUrl(contactUs)">@Html.Raw(@contactUs.SignUp)</a></h2>
			}

			<li>Start: 
				@Model.Start</li>
			<li>Slutt: @Model.End</li>
			<li>Pris: @Model.Price</li>
			@foreach (var category in Model.Categories)
			{
				<li>
					Tema: @category
				</li>
			}
			<li>Plass:@Model.NumberOfSeats</li>
			<li>PåmeldingFrist: @Model.RegistrationDeadLine</li>

			@foreach (var instructor in Model.Instructors)
			{
				<li>
					Foreleser: @instructor.Name
				</li>

				<li>
					Foreleser Info: @instructor.Description
				</li>
			}



			




		</ul>
	</div>
	<h3>@Model.Description</h3>

</div>
     